---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit:     30px;
$text-color:       #444;
$link-color:       #3187e1;
$background-color: #f7f8fa;
$selection-color: #baf1c0;

@import "Fakt";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: auto;
  min-width: 100%;
  font-family: "Fakt", serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: $text-color;
  background-color: $background-color;
  background-image: radial-gradient(ellipse at center, $background-color 30%, #e1e8ed 100%);
}

.wrap {
  width: 480px;
  margin: 0 auto;
  padding: 100px 20px;
}

@mixin selection-shadow($color) {
  text-shadow: .03em 0 $color, -.03em 0 $color, 0
  .03em $color, 0 -.03em $color, .06em 0
  $color, -.06em 0 $color, .09em 0
  $color, -.09em 0 $color, .12em 0
  $color, -.12em 0 $color, .15em 0
  $color, -.15em 0 $color;
}

::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}

a {
  @include selection-shadow($background-color);
  font-weight: 600;
  letter-spacing: 0.2px;

  &::selection {
    @include selection-shadow($selection-color);
  }

  color: $link-color;
  &:visited {
    color: $link-color;
  }

  text-decoration: none;

  background-image: linear-gradient($link-color, $link-color), linear-gradient($link-color, $link-color), linear-gradient($link-color, $link-color);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 90%;
}

.talk-list {
  height: 0;
  transition: height 150ms ease-in-out;
  -webkit-transition: height 150ms ease-in-out;
  -moz-transition: height 150ms ease-in-out;
  overflow: hidden;
}

.talk-text {
  &:hover {
    cursor: pointer;
  }
}

.talk-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid $text-color;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  vertical-align: middle;
  margin-right: 4px;

  transition: transform 150ms ease-in-out;
  -webkit-transition: transform 150ms ease-in-out;
  -moz-transition: transform 150ms ease-in-out;
}

.talk-check {
  display: none;

  &:checked ~ .talk-list {
    height: 176px;
  }

  &:checked ~ .talk-text {
    .talk-arrow {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
    }
  }
}

ul {
  padding-left: 0;
  list-style: none;
}
