---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit:     30px;
$text-color:       #444;
$link-color:       #3187e1;
$background-color: #f7f8fa;
$bg-accent-color: #e1e8ed;
$selection-color: #6280a1; //baf1c0;

// @import "IdealSansBold";     // 700
@import "IdealSansSemiBold"; // 600
@import "IdealSansMedium";   // 500
@import "IdealSansBook";     // 400
// @import "IdealSansLight";    // 300

@mixin bg-img($start-c, $start-p, $end-c, $end-p) {
  background-image: linear-gradient(to bottom, rgba($start-c, 0) 50%, $start-c 100%), radial-gradient(ellipse at center, $start-c $start-p, $end-c $end-p);
  background-image: -moz-linear-gradient(to bottom, rgba($start-c, 0) 50%, $start-c 100%), -moz-radial-gradient(ellipse at center, $start-c $start-p, $end-c $end-p);
  background-image: -webkit-linear-gradient(to bottom, rgba($start-c, 0) 50%, $start-c 100%), -webkit-radial-gradient(ellipse at center, $start-c $start-p, $end-c $end-p);
  background-repeat: no-repeat;
}

@mixin transition($args) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, body {
  font-family: "Ideal Sans A", "Ideal Sans B", "Fakt", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;

  color: $text-color;
  background-color: $background-color;
  @include bg-img($background-color, 30%, $bg-accent-color, 100%);
}

h1 {
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  word-spacing: 0.27rem;
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 600;
}

strong, em b, {
  font-weight: 600;
}

.wrap {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 100px 20px;
}

@mixin selection-shadow($color) {
  text-shadow: .03em 0 $color, -.03em 0 $color, 0
  .03em $color, 0 -.03em $color, .06em 0
  $color, -.06em 0 $color, .09em 0
  $color, -.09em 0 $color, .12em 0
  $color, -.12em 0 $color, .15em 0
  $color, -.15em 0 $color;
}

::selection {
  color: $background-color;
  background: $selection-color;
}
::-moz-selection {
  color: $background-color;
  background: $selection-color;
}

a {
  @include selection-shadow($background-color);
  font-weight: 500;
  letter-spacing: 0.2px;

  &::selection {
    @include selection-shadow($selection-color);
  }

  color: $link-color;
  @include transition(color 250ms);
  &:visited {
    color: $link-color;
  }

  &:hover {
    color: darken($link-color, 15%);
  }

  text-decoration: none;

  background-image: linear-gradient($link-color, $link-color), linear-gradient($link-color, $link-color), linear-gradient($link-color, $link-color);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 90%;
}

.talk-list {
  height: 0;
  @include transition(height 250ms cubic-bezier(0, 0, 1, 0));
  overflow: hidden;
}

.talk-text {
  &:hover {
    cursor: pointer;
  }
}

.talk-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid $text-color;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  vertical-align: middle;
  margin-right: 4px;

  @include transition(transform 250ms cubic-bezier(0, 0, 1, 0));
}

.talk-check {
  display: none;

  &:checked ~ .talk-list {
    @include transition(height 250ms cubic-bezier(0, 0, 0, 1));
    height: 344px;
  }

  &:checked ~ .talk-text {
    .talk-arrow {
      @include transition(transform 250ms cubic-bezier(0, 0, 0, 1));
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
    }
  }
}

ul {
  padding-left: 0;
  list-style: none;
}
